/model_dir/tau.npy
/tvci.egg-info/
/types.jsonl
/nodes.jsonl
/model_dir/
.idea/
/edges.jsonl
/model_output/ann_index.ann
/model_output/embeddings.npy
/model_output/fusion_pca_components.npy
/model_output/fusion_pca_mean.npy
/model_output/mean_norm.npy
/model_output/metadata.json
/model_output/node_subtokens.json
/model_output/node_types.json
/model_output/subtoken_map.json
/model_output/svd_components.npy
/model_output/svd_components_types.npy
/model_output/tau.npy
/model_output/type_token_map.json
/model_output/word2vec.kv
/train_output.txt
